body{
    height: 100%;
}

h1,h2,h3 {
    margin: 0;
}

html{
    height: 100%;
}

img{
    width: 100%;
}

.component{
    height: 100%;
}

.logo{
    padding-top: 20rem;
}

button[disabled]:hover {
    border-color: #dc3545;
    background: #dc3545;
}

#table{
    padding-top: 1%;
}

#succes{
    color:green;
}

#error{
    color: #dc3545;
}