body{
    height: 100%;
}

h1,h2,h3 {
    margin: 0;
}

html{
    height: 100%;
}

img{
    width: 100%;
}

.component{
    height: 100%;
}

.logo{
    padding-top: 20rem;
}

.root{
    height: 100%;
}

.sample{
    width: 8rem;
}
button[disabled]:hover {
    background: red;
}

#searchbar{
    padding: 30px;
}
 table{
     margin: 60px;
 }