body{
	min-height: 100vh;
}

@media only screen and (max-width: 768px) {
	h1 {
		font-size: 1.8em;
	}
	.nav {
		height: auto !important;
	}
}

@media only screen and (min-width: 1200px) {

	label {
		padding-left: 0 !important;
	}
}

button[disabled]:hover {
    border-color: #dc3545;
    background: #dc3545;
}

.buttonImage{
	height: 3rem
}

.content{
	padding: 0 3rem !important;
}

.container-fluid {
	padding: 0 !important;
}

h1,h2,h3 {
    margin: 0;
}

header{
	height: 3rem;
}

html, body{
    height: 100%;
}

.logo{
	padding-top: 10rem;
	width: 100%;
}

nav{
	/* border-right: 1px solid white; */
	height: 100%;
	padding: 0 !important;
}

nav ul{
	padding: 0;
}

.navbar-header{
	height: 3rem;
}

.navbar {
	padding: 0 !important;
}

.text-danger {
	font-size: 0.80rem
}

#succes{
    color: #28a745;
}

#menuButton{
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	background-color: transparent;
	border: none;
}

@media(max-width: 991px){
	nav{
		height: auto;
	}

	.breadcrumb {
	  display: none;
	  margin: 0 !important;
	  padding: 0 !important;
	}
}

@media(min-width: 992px){
	.breadcrumb {
		display: block;
		margin: 0 !important;
		padding: 0 !important;
	}

	.navbar {
	  display: none;   
	}
}

#spinner{
	width: 10%;
}
